.content { 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: auto;
    width: 200px;
    /* background-color: aquamarine; */
    align-content: center;
}

.change-pass {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.pass, .conf-pass {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

li {
    display: inline;
}

.change-pass {
    float: center;
    /* margin-left: auto;
    margin-right: auto; */
    width: fit-content;
}

/* .primary {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
} */

.prev {
    float: left;
}

#finish {
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
}
