@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
	font-family: 'Montserrat', sans-serif;
	background-color: #E4E6DA;
}

.wrapper {

	display: flex;
	flex-flow: row wrap;
	justify-content: center;

}

.login-section {
	text-align: center;
	background-color: #ffff;
	flex-wrap: wrap;
	width: 300px;
	flex-direction: column;
	padding: 70px
}

.login-btn {
	background-color: #49654D;
}
.login-form {
	text-align: center;
}

.input-container {
	padding: 10px 10px 10px 10px;
}
input {
	border: 0;
	border-bottom:2px solid #999999;
	outline:none;
    padding: 0;
    margin: 0;
    width: 100%;
}

  input:focus,
  input:valid {
  	/* transition: border-color 200ms ease-in-out; */
    border-bottom:3px solid #49654D;
  }

