@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
}

.menu {
    display: flex;
    flex-wrap: wrap;
	flex-direction: row;
    padding-left: 2%;
    padding-right: 2%;
    align-items: baseline;
}

#img-user {
    height: 40px;
    font-weight: 40px;
}

#img-folder {
    height: 40px;
    font-weight: 40px;
}

#img-download {
    height: 40px;
    font-weight: 40px;
}

#img-delete {
    height: 40px;
    font-weight: 40px;
}

.logo {
	font-size: 40px;
	font-weight: 800;
}

.search {
    font-size: 20px;
	font-weight: 500;
    color:#b4b2b2;
    border-radius: 5px;
    min-height: 30px;
    min-width: 100px;
    margin: 0 auto;
    position: relative;
    width: 400px;
}

.table-section {
    display: grid;
    padding-left: 20%;
    padding-right: 20%;
}

.header-table {
    font-size: 15px;
    color: lightgray;
}
