@import "main.css";
.main-form {
    display: grid;
    grid-template-areas: "1 1";
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.user-photo {
    display: grid;
    grid-template-areas: "1", "1";
    grid-template-rows: repeat(1, minmax(0, 1fr));
    float: right;
}

.user {
    height: 100%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    float: right;
    margin-bottom: 0px;
    border-radius: 50%;
}

.user-details {
    display: grid;
    grid-template-areas: "1 1", "1 1", "1 1", "1 1", "1 1";
    grid-template-columns: 30% 40%;
    row-gap: 2%;
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    margin-bottom: 0;
}

.info {
    margin-top: 20px;
    font-size: 15px;
    float: right;
    margin-right: auto;
    margin-left: 5px;
}

.user-details>input {
    float: left;
    max-width: 300px;
    height: 40px;
}

.finish {
    display: inline;
    font-size: 12px;
    background-color: #ffffff;
    color: #49654D;
    width: 200px;
    margin-left: 25%;
    margin-top: 40px;
    margin-bottom: 10px;
}

.save {
    display: inline;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 50%;
}

.form-section {
    text-align: center;
    background-color: #ffff;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.buttons {
    display: grid;
    grid-template-areas: "1 1 1";
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.change-photo:hover,
.finish:hover,
.save:hover,
.next-btn:hover {
    transition: ease-in-out 200ms;
    background-color: #8BA989;
    border: 2px solid #8BA989;
}

.close {
    align-self: flex-end;
}

.pass,
.conf-pass {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.next-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #49654D;
    border: 2px solid #49654D;
    padding: 20px 50px 20px 50px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 20px;
    color: #ffff;
    margin-bottom: 20px;
    margin-top: 20px;
}

.input-container {
    padding: 20px 0px 30px 0px;
}

.sign-text {
    font-size: 28px;
    font-weight: 600;
    margin-top: 30px;
}

.upload-image {
    width: 50%;
    display: inline;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 5%;
}

input[type="file"] {
    display: none;
}

.upload-file-container {
    color: #49654D;
    display: inline-block;
    background-color: #FFFFFF;
    cursor: pointer;
}

@media only screen and (max-width:760px),
(min-device-width:768px) and (max-device-width:1024px) {
    .main-form {
        display: flex;
        flex-direction: column;
    }
    .upload-image {
        display: flex;
    }
    .buttons {
        display: flex;
        flex-direction: column;
    }
    .finish {
        margin-top: 10px;
        margin-left: 0;
        font-size: medium;
        width: 240px;
    }
    .upload-image {
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
    }
}